html, body {
    height: 100%;
}
#root {
  height: 100%;
}

.main {
  /* background:#fafafa; */
  width: 100%;
  /* box-sizing: border-box;
  height: 100%; */
}

.wrapper {
  max-width: 1140px;
  margin:0 auto;
  padding-top:50px
}

.wrapper> h1 {
  font-size:40px;
  text-transform: uppercase;
  margin-bottom:75px;
  font-weight: bold;
  color:#1d1d2c;
  padding-top:110px;
}
/* Navigation */
nav {
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  background:#052a58;
  width: 100%;
  height:105px;
  display: flex;
  z-index: 2000;
  /* box-shadow: 0 10px 25px 0 rgba(0,0,0,.1); */
  overflow:hidden;
  color:#000;
  transition: all 0.5s;
}

nav a {
  color:#fff;
  display:block
}

nav .nav_wrapper {
  margin:0 auto;
  max-width: 1140px;
  display: flex;
}

nav .logo {
  margin-top: 15px;
}

nav .router {
  display: flex;
  justify-content: flex-end;
  margin-top:53px;
  margin-left: 0;
  width:100%;
}

nav .router li {
  flex-direction: column;
  margin-left: 110px;
}

nav.scroll {
  height:85px;
  transition: all 0.5s;
}

nav.scroll .router {
  margin-top:42px;
  transition: all 0.5s;
}

nav.scroll .logo {
  margin-top:8px;
  transition: all 0.5s;
}

/*hover effect*/
.menu {
	position: relative;
	z-index: 10;
}
.menu_item {
	position: relative;
	display: block;
	outline: none;
	line-height: 1;
}

.menu_item_name {
	position: relative;
  display: inline-block;
  font-size: 1.1em;
}

.menu_wrap .menu_item_name {
	transition: color 0.5s;
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.menu_wrap .active {
  color: #181f39;
  font-weight: bold;
}

.menu_wrap .active .menu_item_name::before {
  background: #408274;
  transform: scale3d(1,1,1);
}

.menu_wrap .menu_item_name::before {
	content: '';
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 50%;
	left: 0;
	bottom: 0;
	opacity: 0.3;
	transform: scale3d(0,1,1);
	transform-origin: 0% 50%;
	transition: transform 0.5s;
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.menu_wrap .menu_item .menu_item_name::before {
	background: #408274;
}

.menu_wrap .menu_item:hover .menu_item_name::before,
.menu_wrap .menu_item:focus .menu_item_name::before {
	transform: scale3d(1,1,1);
}

/*intro*/
.intro {
  background-color: #052a58;
  width:100%;
  padding:205px 0 165px;
  overflow: hidden;
  color:#fff
}
.center {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

.intro h1 {
  font-size: 50px;
  padding:0 20px;
  text-align: center;
  font-weight: bold;
}
.intro p {
  font-size: 20px;
  padding:0 50px;
  text-align: center;
  margin-top: 45px;
  line-height: 1.5;
}

.text {
  position: absolute;
  padding:0px 20px;
  max-width:1140px;
  box-sizing: border-box; 
  z-index: 9;
}

.download {
  margin:20px auto 0;
  /* background-color:#e2efff; */
  border:1px solid #f54f3f;
  padding: 10px 20px;
  color:#f54f3f;
  border-radius: 10px;
  width:90px;
  text-align: center;
}

.download a {
  color:#f54f3f;
}

.download a:hover {
  font-weight:bold
}

h2.heading {
  margin: 85px 0;
  font-weight: bold;
  color:#999;
  font-size: 22px;
  text-align: center;
  font-family: "open sans", sans-serif;
  text-transform: uppercase;
}

/* .skill .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
} */
.skill .icons span {
  display: inline-block;
  text-align: center;

}

.skill .icons span em {
  text-align: center;
  display: block;
  margin-top:5px
}

.skill .icons span svg {
  height:75px
}


/*wave*/
@keyframes wave {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(90deg);}
  50% { transform: rotate(180deg);}
  100% { transform: rotate(360deg);}
}

.one {
  position: absolute;
  left: 30%;
  top: 63px;
  height: 300px;
  width: 300px;
  transform: translate(-50%, -50%);
  cursor: default;
  -webkit-filter: url(#wave);
  filter: url(#wave);
}

.circle {
  width: 300px;
  height: 300px;
}

.circle:before, .circle:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  height: 310px;
  width: 310px;
  background: #f35041;
}
.circle:before {
  border-radius: 43% 45% 40% 42%;
  animation: wave 10s infinite linear;
}
.circle:after {
  border-radius: 43% 45% 40% 42%;
  animation: wave 4s infinite linear;
}



/*about */
.about {
  font-size: 20px;
  line-height: 1.5;
  padding: 0 15px 100px;
}
.about h4 {
  font-weight: bold;
  margin-top:40px;
  position: relative;
  padding-left: 15px;
}

.about h4::before {
  background-color:#FFD542;
  width:8px;
  height:18px;
  content:"";
  display: block;
  position: absolute;
  top:6px;
  left:0
}

.about h5 {
  margin-top:15px;
  font-weight: 700;
}
.about span {
  font-size: 18px;
  color:#333;
  font-weight: normal;
}

.about ul li {
  list-style-position: outside;
}

.about ul li::before {
  content:"- "
}

.about h6 {
  margin-top:15px;
}

/* Project */
.itemContainer {
  padding:0px 15px
}

.items {
  border-radius: 5px;
  margin-bottom:15px
}

.items .tPic img {
  width:100%;
  transition: all 0.5s ease;
}

.items .linkWrapper {
  display: grid;
  grid-template-columns:50% 50%;
}

.items .linkWrapper ul {
  color:#333;
  padding:15px 25px;
}

.items .linkWrapper ul li {
  margin-bottom: 10px;
  font-size:18px;
  display: flex;
  justify-content: flex-start;
  color:#666; 
  line-height: 1.2;
}

.items .linkWrapper .desclist {
 padding:15px 25px
}

.items .linkWrapper .desclist li:before { 
  content: '-'; 
  margin-left: -20px;
  margin-right: 10px; 
}

.items .linkWrapper ul li.itemname {
  font-weight: bold;
  color:#000;
  font-size: 24px;
}

.items .linkWrapper ul li span {
  border:1px solid #dedede;
  border-radius: 12px;
  padding:5px 6px;
  margin-right:5px;
  font-size:14px
}

.items .linkWrapper ul li a {
  color:#052a58
}

.items .tPic {
  object-fit: cover;
  overflow: hidden;
}

.items .tPic img:hover {
  transform: scale(1.2);
}

/*List*/
.listWrapper {
  padding-bottom:80px;
  color:#333;
  font-size:18px;
  display:flex;
  flex-direction: row;
}

.imgContainer {
  width:70%;
}

.prjImg {
  width:100%;
}

.desc li.name {
  font-weight: bold;
  text-decoration: underline;
  color:#000
}

.desc {
  width: calc(30% - 30px);
  margin-left: 30px;
  margin-top:15px;
}

.desc li {
  margin-bottom:10px;
  justify-content: flex-start;
  color:#666
}

.desc li span {
  border:1px solid #dedede;
  border-radius: 11px;
  padding:4px 6px;
  margin:0 5px 0px 0;
  font-size:14px;
  display: inline-block;
}

.wdesc {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom:20px;
}

/*contact*/
.contact {
  font-size: 22px;
  line-height: 1.5;
}

.bg {
  background-repeat: no-repeat;
  padding-left:30px;
}

.bg1 {
  background-image: url(./images/email.png);
  background-position:0 10px;
}

.bg2 {
  background-image: url(./images/phone.png);
  background-position:0 6px;
}

.bg3 {
  background-image: url(./images/add.png);
  background-position:0 4px;
}

.bg4 {
  background-image: url(./images/git.png);
  background-position:0 6px;
}

.bg5 {
  background-image: url(./images/linkedin.png);
  background-position:0 6px;
}

.bg6 {
  background-image: url(./images/home.png);
  background-position:0 4px;
}

.contact ul {
  width:50%; 
  float: left;
}

.contact ul li a {
  color:#000
}


/*Footer*/
.footer {
  background-color: #fdf3eb;
}

.footer .copyright {
  padding:20px;
  color:#f54f3f;
  display: flex;
  justify-content: flex-end;
}

.footer .copyright span { 
  flex-direction: row;
  margin:0 5px
}

.footer .copyright span:last-child {
  padding-top:2px
}

.MuiSvgIcon-root {
  fill:#f54f3f !important
}

.MuiSvgIcon-root:hover {
  fill:#052a58 !important
}


/*responsive*/

@media screen and (max-width: 1140px) {
  .nav_wrapper, .center {
    padding:0 20px;
  }
}

@media screen and (max-width: 1000px) {
  .listWrapper {
    display:block;
    padding-bottom: 10px;
  }
  .imgContainer {
    width:100%;
  }
  .desc {
    width: 100%;
    margin-left: 0px;
  }
  .items .linkWrapper {
    display: block;
  }
  .items .linkWrapper ul {
    padding:15px 0
  }
  .circle, .one {
    width:200px;
    height:200px;
  }
  .circle:before, .circle:after {
    width:200px;
    height:200px;
    transition: all 0.5s;
  }
  .intro h1 {
    font-size: 35px;
  }
  .intro p {
    line-height: 1.2;
  }
}

@media screen and (max-width: 780px) {
  .contact ul {
    width:100%; 
    float: none;
  }
  nav .nav_wrapper{
    display:block
  }
  nav.scroll {
    height:160px
  }
  nav a {
   text-align: center;
  }
  nav .router {
    justify-content:space-around;
    margin-top:35px;
  }
  nav .router li {
    margin-left: 0;
  }
  .intro h1 {
    font-size: 22px;
  }
  .intro p {
    font-size: 16px;
    padding:0
  }
  .download {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .itemContainer {
    grid-template-columns: 100%;
    grid-gap: 0px;
  }
  .items {
    margin-bottom: 20px;
  }
}