html, body {
    height: 100%;
}
#root {
  height: 100%;
}

.main {
  background:#fafafa;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding:50px 80px 50px 300px;
}
.main > h1 {
  font-size:40px;
  text-transform: uppercase;
  margin-bottom:75px;
  font-weight: bold;
}

/* Navigation */
nav {
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  background:white;
  width:200px;
  display: flex;
  z-index: 100;
  box-shadow: 0 10px 25px 0 rgba(0,0,0,.1);
  height:100%;
  overflow:hidden;
  color:#000;
}

nav a {
  color:#000;
}

nav a:active {
  color:#000;
}

nav .logo {
  margin-top:50px;
  margin-left:24px;
}

nav .router {
  margin-top:50px;
  margin-left:24px;
}

nav .router li {
  margin-bottom:20px;
}

/* Project */
.itemContainer {
  display: grid;
  grid-template-columns:50% 50%;
  grid-gap: 30px;
}

.items {
  border-radius: 5px;
}
.items .tPic img {
  width:100%;
  transition: all 0.5s ease;
}
.items .tPic {
  object-fit: cover;
  overflow: hidden;
}
.items .tPic img:hover {
  transform: scale(1.2);
}